<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949829014855-p30aevn8k6iqvl9qpa7bn7q86roe8amk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949829014855-p30aevn8k6iqvl9qpa7bn7q86roe8amk</string>
	<key>API_KEY</key>
	<string>AIzaSyBXBC_hP-L1clcX1MA94D3erhLu7rfYZZE</string>
	<key>GCM_SENDER_ID</key>
	<string>949829014855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-414</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949829014855:ios:e7e77ca2eae89091806862</string>
</dict>
</plist>